body {
	background-image: url('../images/congruent_outline.png');
	background-position: center;
	padding-top:80px;
	word-wrap:break-word;
	font-size: 14px;
}

th {
	font-size: 14px;
	font-weight: bold;
	border-bottom: darkgrey solid 2px;
}

tr {
   line-height: 10px;
   min-height: 10px;
   height: 15px;
   border-bottom: darkgrey solid 1px;
}

td {
	font-size: 14px;
}
.clickbutton {
	border-radius: 5px;
	background-color: darkgrey;
	margin: 5px;
}

.authbutton {
	text-align: center;
}

#searchpartner {
	align-items: center;
}

#encountercontainer {
	background-color: white;
}
#participantsummary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	width: 80%;
}

#userProfileInfo{
	padding: 10px;
	height: 60px;
}

#partnerSearch {
	font-size: 12px;
	font-weight: bold;
}

#partnerProfileInfo {
	padding: 10px;
	height: 60px;	
}
.encounteruserdiv {
	border-radius: 15px;
	border: solid black 2px;
	background-color: lightgrey;
	width: 30%;
	min-width: 230px;
	height: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#encounterpartner {
	width: 70px;
}

.encounterpartnerdiv {
	border-radius: 15px;
	border: solid black 2px;
	background-color: lightgrey;
	width: 30%;
	min-width: 230px;
	height: 150px;
	margin-right: 20px;
}

.grey {
	color: lightgrey;
}

#user_header {
  width: 100%;
  margin: auto;
  padding: 10px;
  background: lightgrey;
  color: black;
  position:fixed;
  top:0px;
  border-bottom: black solid 2px: 
}


.margin {
	margin-top: 100px;
}


.btn {
	width: 50%;
}

.center {
	text-align: center;
}

.white {
	color: white;
}
.codeboxes {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
}

.newencounter {
	text-align: center;
}

.box {
	margin: 20px auto;
	text-align: center;
    border-radius: 15px;
    padding: 10px; 
	width: 250px;
    height: 150px;
}

.selectpartnertext {
	color: white;
}

.red {
	background-color: #913C39; 

}

.yellow {
	background-color: #E3CF46; 

}

.green {
	background-color: #408B59; 
}

.mystery {
	background-color: #408BA6; 

}