body {
	background-image: url('../images/congruent_outline.png');
	background-position: center;
	padding-top:80px;
	word-wrap:break-word;
}
.submit {
	border-radius: 5px;
}

.authbutton {
	text-align: center;
}
.encountersummary {

}
#participantsummary {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.userProfileInfo{
	padding: 10px;
}
.encounteruser {
	border-radius: 15px;
	border: solid black 2px;
	background-color: lightgrey;
	width: 200px;
	height: 150px;
}

.encounterpartner {
	border-radius: 15px;
	border: solid black 2px;
	background-color: lightgrey;
	width: 200px;
	height: 150px;
}

#partnerIdDiv{
	background-color: red;
	height: 20px;
}

#partnerNameDiv{
	background-color: blue;
	height: 20px;
}

#user_header {
  width: 100%;
  margin: auto;
  padding: 10px;
  background: grey;
  color: black;
  position:fixed;
  top:0px;
  border-bottom: black solid 2px: 
}


.margin {
	margin-top: 100px;

}


.btn {
	width: 50%;
}

.center {
	text-align: center;
}

.white {
	color: white;
}
.codeboxes {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
}

.newencounter {
	text-align: center;
}

.box {
	margin: 20px auto;
	text-align: center;
    border-radius: 15px;
    padding: 10px; 
	width: 250px;
    height: 150px;
}

.selectpartnertext {
	color: white;
}

.red {
	background-color: #913C39; 

}

.yellow {
	background-color: #E3CF46; 

}

.green {
	background-color: #408B59; 
}

.mystery {
	background-color: #408BA6; 

}